<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
	<script src="{{ url_for('static', filename='JS/behavior.js') }}"></script>
	<title>Kenneth Briones</title>
</head>

<body>
	<header id="head">

		<h1 id="text">
			Proyecto de Página Web
		</h1>
	</header>
	<div id="patronicio">
		<h1 style="color: aliceblue;">
			<p style="text-indent: 50px;">HOla Universo!</p>
		</h1>
	</div>
	<footer>
		Kenneth Briones
	</footer>
	<script>
		//var t = setInterval(imganimation, 500);
		Main();
	</script>
	<!-- % { extends block } %
% { endblock } % -->
</body>

</html>