<html id="Dad" SameSite="Secure">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<script src="{{ url_for('static', filename='JS/behavior.js') }}"></script>
	<link rel="texto" href="{{ url_for('static', filename='txt/MyWiki.txt') }}">
	<title>Blog - Kenneth Briones</title>
</head>

<body>
	<header id="head">
		<h1 id="text">
			Bienvenido a mi Blog Personal
		</h1>
	</header>
	<div class="Bar-creative">
		<div class="Bar-link">
			<div id="foto"></div>
		</div>
		<div class="patronicio"> 
			<h1 style="color: aliceblue;">
				<p id="titulo"></p>
			</h1>
			<p id="parrafo">
			</p>
			<script>
				OrdenarTexto();
			</script>
		</div>	
	</div>
	<footer class="footer">
		Kenneth Briones
	</footer>
	<script>
	</script>
</body>
</html>